body{
  background-color: #f5f5f5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-bottom: 60px;
}
a{
  text-decoration: none;
}
.container {
  width: 1024px;
  margin-right: auto;
  margin-left: auto;
}
button {
  border: 0;
  outline: 0;
  background: #fff;
  cursor: pointer;
}

.app-input.input-error{
  border-color:red;
}

.button-back{
  float:left;
  margin-top:-25px;
  padding:5px 15px;
  font-weight: bold;
}
/*END GENERAL*/
/*START NAV*/
.nav-top {
  background:#212121;
  height: 80px;
}
.nav-title {
  text-align: center;
  color:white;
  font-size: 56px;
  padding-top: 5px;
}
.nav-menu{
  background-color: #fff;
  height: 60px;
  border-bottom: 1px solid #e0e0e0;
}
.nav-items{
  display: flex;
  flex-wrap: nowrap;
  justify-content:flex-start;
  align-content: center;
}
.nav-item{
  width: 200px;
  height: 60px;
  font-size: 20px;
  color: black;
  background-color: white;
  display: flex;
  justify-content:center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}
.nav-item:first-child{
  margin-left: 0;
}
.nav-item:last-child{
  margin-right: 0;
}
.nav-item.active, .nav-item:hover{
  color:white;
  background-color: #424242;
}
/*END NAV*/
/*START APP*/
.order-select{
  border:0;
  background:#f5f5f5;
  float:right;
  margin-top:-25px;
}

svg {
  cursor: pointer;
}

.app-box{
  background-color: #fff;
  padding: 20px;
  margin-top: 35px;
}
.new-post .header{
  display: flex;
  flex-direction: flex-start;
  justify-content: baseline;
}
.new-post .header h2{
  padding: 0;
  color:#424242;
  margin:0;
  font-size: 20px;
}
.new-post .header .btn-add-image{
  background-color: #fff;
  border: 0;
  outline: 0;
  height: 25px;
  margin-left: 20px;
  color:#424242;
  cursor: pointer;
}
.btn-icon{
  font-size: 20px;
  margin-right: 5px;
  color:#333;
}
.btn-text{
  color:#333;
  position: relative;
  top: 2px;
  font-size: 12px;
}
.new-post .middle{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 30px;
}
.app-input{
  width: 100%;
  border: 0;
  border-bottom: 1px solid #d5d5d5;
  outline: 0;
  font-size: 18px;
  margin-bottom: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.app-input-sm{
  font-size:14px;
}
.btn-primary{
  background-color: #2196f3;
  color:white;
  margin-top: 10px;
  cursor: pointer;
}
.btn-primary:hover{
  background:#087dda;
}
.btn-lg{
  min-width: 150px;
  height:45px;
  text-align: center;
  font-size: 20px;
}
.btn-md{
  min-width: 120px;
  height:35px;
  text-align: center;
  font-size: 16px;
}
.post-list{
  display: flex;
  flex-flow: row wrap;
}
.post-item{
  width: 100%;
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: 15px;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 30px;
}
.post-item:last-child{
  border-bottom: 0;
  margin-bottom: -30px;
}
.post-item-actions{
  flex:1 100%;
  text-align: right;
}
.post-item-user{
  margin-top:30px;
  padding-left: 10px;
  padding-right: 10px;
}
.post-item-user .post-user-avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.post-item-user .post-user-name{
  color:#424242;
  margin: 0;
  padding: 0;
  font-size:14px;
}
.post-item-user .post-date-created{
  font-style: italic;
  color:#a1a1a1;
}    
.post-item-body{
  padding: 10px;
}
.post-item-body .post-item-title{
  font-size: 20px;
  color:#424242;
  font-weight: bold;
}
.post-item-body .post-item-text{
  margin-top: 15px;
}
.post-item-controls{
  flex:1 100%;
  margin-top: 30px;
  display: flex;
  flex-flow: nowrap;
  justify-content: flex-start;
}
.post-item-controls .item-control{
  margin-right: 15px;
}
.item-control .btn-post-control{
  padding: 4px 10px ;
  cursor: pointer;
}
.item-control .btn-post-control:hover, .btn-post-control.active {
  background-color:#e5e5e5;
}
.btn-post-control:hover > .btn-icon-mousein, .btn-post-control > .btn-icon-mouseout, .btn-post-control.active  > .btn-icon-mousein{
  display: inline-block;
}
.btn-post-control:hover > .btn-icon-mouseout, .btn-post-control > .btn-icon-mousein, .btn-post-control.active  > .btn-icon-mouseout{
  display: none;
}
.post-item-comments{
  flex:1 100%;
  margin-top: 15px;
  background-color:#f5f5f5;
  padding:20px;
}
.comment-info{
  display: flex;
  flex-wrap: nowrap;
  justify-content:flex-start;
}
.comment-box{
  background-color: #fff;
  padding: 20px;
  margin-bottom:  20px;
}
.comment-box:last-child{
  margin-bottom: 0;
}
.comment-user-avatar{
  padding-right:15px;
}
.comment-user-avatar img{
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.comment-user-name{
  font-weight: bold;
  color:#424242;

}
.comment-date-created{
  font-style: italic;
  color:#a1a1a1;
  font-weight: normal;
}
.comment-body{
  margin-top: 15px;
  font-size: 12px;
}

.post-item-comments{
  display: block; /*MUDAR PARA NONE*/
}

.post-item-comments.animated-toggleDisplay {
  display: block;
  animation-name: slideDown;
	-webkit-animation-name: slideDown;	
  animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;			
}

@keyframes slideDown {
	0% {
    opacity: 0;
  }
	100% {
		opacity: 1;
	}		
}

@-webkit-keyframes slideDown {
	0% {
    opacity: 0;
  }
	100% {
		opacity: 1;
	}		
}
/*END APP*/

.alertOverlay{
  width: auto;
  position: absolute;
  top: 0;  
  left: 50%;
  display: table-cell;
  vertical-align: bottom;
}

.alert {
  left:-50%;
  margin-top:15px;
  max-width: 300px;
  display: block;
  border-radius: 3px;
  padding:15px 30px 15px 15px;
  position: relative;
  font-size:14px;
  opacity:1;
  animation-name: alertOpen;
  animation-duration: 1s;
}

.alert.success {
  background: #d4edda;
  border:1px solid #c3e6cb;
  color: #155724;
}

.alert.error {
  background: #f8d7da;
  border:1px solid #f5c6cb;
  color: #721c24;
}

.alert.warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.settings-action{
  padding:5px;
  cursor: pointer;
  position: absolute;
  top:3px;
  right:3px;  
}

@keyframes alertOpen {
  from {opacity:0;}
  to {opacity: 1;}
}

.dialogOverlay {
  background:rgba(0,0,0,0.6);
  position:absolute;
  right: 0px;  top: 0;  bottom: 0; left: 0px;
  margin: auto;
}

.dialogContainer {
  position: absolute;
  left: 50%;
  top: 50%;
}

.dialog{
  position: relative;
  left: -50%;
  transform: translateY(-50%);
  background: white;
  border-radius: 10px;
  padding:30px;
  -webkit-box-shadow: 0px 10px 73px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 73px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 73px -15px rgba(0,0,0,0.75);
}

.dialog h1{
  margin-top:0;
  text-align: left;
  font-size: 20px;
  columns: #818181;;
}

.dialog-buttons{
  margin-top:30px;
  text-align: right;
}

.dialog-buttons button {
  margin-left: 15px;
  padding:5px 10px;
  border-radius: 3px;
  border:0;
  height:35px;
  min-width: 60px;
  cursor: pointer;
  outline: none
}

.dialog-ok {
  background:#0033cc;
  color:white;
}
.dialog-ok:hover{
  background:#002699;
}

.dialog-cancel{
  background:#cccccc;
}

.dialog-cancel:hover {
  background:#969696;
}

a.active {
  color:black;
  font-weight: bold;
}